
@{
    ViewBag.Title = "Index";
}

<div class="row" style="text-align:center">
    <form action="/Comment/List" method="post">
        <div>
            <input type="text" class="form-control ortala" name="val" value="" placeholder="No,Ad,Soyad">
            <input type="submit" value="Öğrenci Bul" class="btn btn-default ortala" />
        </div>
        <div>
            <label class="ortala" style="color:#ff0000">@ViewBag.Error</label>
        </div>

    </form>
     
</div>


