
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row" style="text-align:center">
    <form>
        <div>
            <input type="text" class="form-control ortala" name="" value="" placeholder="No,Ad,Soyad">
            <input type="submit" value="Öğrenci Bul" class="btn btn-default ortala" />
        </div>
    </form>
     
</div>


