
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div class="row">
    <div class="list">
        <table> 
            <tr style="border-bottom:1px #000000 solid">
                <td>
                    <img src="~/Img/photo.jpg" class="img-circle"/>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Adi</th>
                            <td>Ali</td>
                            <th>Sınıfı</th>
                            <td>Ampa 11V</td>
                        </tr>
                        <tr>
                            <th>Soyadı</th>
                            <td>Özdemir</td>
                            <th>Bölümü</th>
                            <td>Bilişim</td>
                        </tr>

                    </table>
                </td>
            </tr>

        </table>
    </div>
   

</div>

